<%- include('../partials/header', { pageCSS: 'AD_Analytics' }) %>
<main>
  <h1>Analytics</h1>
  <ul>
    <li>Total Users: <%= userCount %></li>
    <li>Total Posts: <%= postCount %></li>
    <li>Total Events: <%= eventCount %></li>
  </ul>
</main>
<%- include('../partials/footer') %>
